<style>
.form-group{
    padding-bottom: 0.75%;
    margin-bottom: 0.75%;
}
</style>

<div class="form-group">
    {{ form_label(form.pseudo) }}
    {{ form_widget(form.pseudo) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_label(form.imageFile) }}
    {{ form_widget(form.imageFile) }}
</div>